<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:20px;"></p>
            <h3>Администрация</h3>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:20px;"></p>
            
            <label>Поиск: <input ng-model="searchText"></label>
            <ul>
                <li class="animate-repeat" ng-repeat="person in administration | filter : searchText">
<!--                    {{person.firstName}} {{person.lastName}}, {{person.post}}  -->
                    <input type="text" ng-model="person.firstName"/>
                    <input type="text" ng-model="person.lastName"/>
                    <input type="text" ng-model="person.post"/>
                    ИД: &lt;mybase.f.c&gt;/administration{{ person.$id }}
                    <button ng-click="removePerson(person)">x</button>
                </li>
                <li class="animate-repeat" ng-if="results.length == 0">
                    <strong>No results found...</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <div>Ввод нового человека</div>
            <div>
                <label>Имя: <input type="text" ng-model="newPerson.firstName"/></label>
                <label>Фамилия: <input type="text" ng-model="newPerson.lastName"/></label>
                <label>Должность: <input type="text" ng-model="newPerson.post"/></label>     
                
                
            </div>
            <div>
                <button type="button" class="btn btn-primary" ng-click="addNewPerson()">Добавить</button> 
            </div>
            
        </div>
    </div>
            
</div>
