<div class="container-fluid">
    
    
    <div class="row">
        <p style="padding:20px;"></p>
        
        
        <div class="col-xs-12 col-md-4"> 
            <div ui-view="readnow"></div>            
            <div ui-view="lastadded"></div>
        </div>

<!--
        <div class="col-xs-12 col-md-1">  
            <p style="padding:20px;"></p>
            <p>          
        </div> 
-->
        
        <div class="col-xs-12 col-md-8">
            <div ui-view="listbook"></div>
        </div>
    </div>        
</div>   