<footer class="row-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-offset-5 col-md-2">
                <table class="table">
                    <tr>
                        <td>Всего книг в библиотеке:</td>
                        <td>{{allBooksCount}}</td>
                    </tr>
                    <tr>
                        <td>Прочитанных книг в</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>{{booksCount2015}}</td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>{{booksCount2016}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2016 <a href="http://google.com"><i class="glyphicon glyphicon-book"></i> Lokhankin&Co</a> </p>
                
            </div>
        </div>
    </div>
</footer>