<div class="container">
    
    
                
    <form>
        <div class="col-xs-12 col-sm-4">
            <h3>Форма для добавления новой книги</h3>
            
        <div class="form-group">
            <label for="author">Автор</label>
            <input type="text" class="form-control" id="author" placeholder="Автор">
        </div>
        <div class="form-group">
            <label for="title">Название книги</label>
            <input type="text" class="form-control" id="title" placeholder="Название книги">
        </div>
        <div class="form-group">
            <label for="webDescriptionLink">Ссылка на описание</label>
            <input type="text" class="form-control" id="webDescriptionLink" placeholder="Ссылка на магазин, описание, ...">
        </div>    
        <div class="form-group">
            <label for="webDownloadLink">Ссылка на закачку</label>
            <input type="text" class="form-control" id="webDownloadLink" placeholder="Ссылка на закачку">
        </div>            
        <button type="submit" class="btn btn-default">Добавить</button>
        </div>
    </form>                    

</div>
