<div class="container-fluid">
    <div class="row" >   
        <h3>Последние добавленные</h3>  
        <div class="col-xs-12">        
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-2">Название</th>
                        <th class="col-md-1">Автор</th>
                        <th class="col-md-1">Когда добавлена</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Фильтр работает слева направо(слева фильтрует сначала сначала): 
                             1. поле state не равно Читаю сейчас            
                             2. обратная(-) сортировка по полю addDate 
                             3. ограничить выбор только 2-мя записями     
                        -->
                    <tr ng-repeat="book in books | filter : {state:'!Читаю сейчас'} |  orderBy: '-addDate' | limitTo:2 ">
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.addDate | date:'dd.MM.yyyy'}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline" ng-click="setStateReadNow(book)">Читать ?</button>
                        </td>                        
                    </tr>        
                </tbody>
            </table>
        </div>
    </div>                
</div>
<!--filter : {state:'Читаю сейчас'}-->