<footer class="row-footer">
    <div class="container">
        <div class="row">             
            <div class="col-xs-6">
                <h5>Статистика по библиотеке</h5>
            </div>
            <div class="col-xs-6">
                <br>Всего книг в библиотеке</br>
                <br>Прочитано книг
                <br>2016
                <br>2015
                <br>Когда-то
            </div>
        </div>
        <div class="row">                             
            <div class="col-xs-12">
                 <p style="padding:10px;"></p>
                 <p align=center>© Copyright 2016 Компания Тяп-Ляп {{aboutData.firstName}}</p>
             </div>
        </div>
    </div>
</footer>